<h2><center> <bold>Apriori Algoritm</bold></center></h2>

<b>DMW ASSIGNMENT-1 </b><br>
Submitted by :Sidhi Jain<br>
Roll No :1913126<br>
Smartcard Id :BTBTC19298<br>
Class :B.Tech Computer Science fourth Semester <br>
Submitted to : Dr Nisheeth Joshi

In [26]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [27]:
%pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.5.3)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (23.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (4.38.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [28]:
from mlxtend.frequent_patterns import apriori, association_rules

In [29]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt','Coffee'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt','Coffee'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs','Coffee']]

In [30]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Coffee,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,True,False,False,True,False,True,True,True,True,False,True
1,False,True,False,True,True,False,True,False,True,True,False,True
2,True,False,False,False,True,False,True,True,False,False,False,False
3,False,False,True,False,False,False,True,True,False,False,True,True
4,False,True,True,False,True,True,True,False,False,True,False,False

In [31]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.6)

    support      itemsets
0       0.6           (1)
1       0.8           (4)
2       1.0           (6)
3       0.6           (7)
4       0.6           (9)
5       0.6          (11)
6       0.6        (1, 4)
7       0.6        (1, 6)
8       0.6        (1, 9)
9       0.8        (4, 6)
10      0.6        (9, 4)
11      0.6        (6, 7)
12      0.6        (9, 6)
13      0.6       (11, 6)
14      0.6     (1, 4, 6)
15      0.6     (1, 4, 9)
16      0.6     (1, 6, 9)
17      0.6     (9, 4, 6)
18      0.6  (1, 4, 6, 9)

In [32]:
apriori(df, min_support=0.6, use_colnames=True)

    support                             itemsets
0       0.6                             (Coffee)
1       0.8                               (Eggs)
2       1.0                       (Kidney Beans)
3       0.6                               (Milk)
4       0.6                              (Onion)
5       0.6                             (Yogurt)
6       0.6                       (Eggs, Coffee)
7       0.6               (Kidney Beans, Coffee)
8       0.6                      (Onion, Coffee)
9       0.8                 (Kidney Beans, Eggs)
10      0.6                        (Onion, Eggs)
11      0.6                 (Milk, Kidney Beans)
12      0.6                (Kidney Beans, Onion)
13      0.6               (Kidney Beans, Yogurt)
14      0.6         (Kidney Beans, Eggs, Coffee)
15      0.6                (Onion, Eggs, Coffee)
16      0.6        (Kidney Beans, Coffee, Onion)
17      0.6          (Kidney Beans, Onion, Eggs)
18      0.6  (Kidney Beans, Eggs, Coffee, Onion)

In [33]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                             itemsets  length
0       0.6                             (Coffee)       1
1       0.8                               (Eggs)       1
2       1.0                       (Kidney Beans)       1
3       0.6                               (Milk)       1
4       0.6                              (Onion)       1
5       0.6                             (Yogurt)       1
6       0.6                       (Eggs, Coffee)       2
7       0.6               (Kidney Beans, Coffee)       2
8       0.6                      (Onion, Coffee)       2
9       0.8                 (Kidney Beans, Eggs)       2
10      0.6                        (Onion, Eggs)       2
11      0.6                 (Milk, Kidney Beans)       2
12      0.6                (Kidney Beans, Onion)       2
13      0.6               (Kidney Beans, Yogurt)       2
14      0.6         (Kidney Beans, Eggs, Coffee)       3
15      0.6                (Onion, Eggs, Coffee)       3
16      0.6        (Kidney Beans, Coffee, Onion)       3
17      0.6          (Kidney Beans, Onion, Eggs)       3
18      0.6  (Kidney Beans, Eggs, Coffee, Onion)       4

In [40]:
frequent_itemsets[ (frequent_itemsets['length'] == 2 )&
                   (frequent_itemsets['support'] >= 0.6) ]

    support                itemsets  length
6       0.6          (Eggs, Coffee)       2
7       0.6  (Kidney Beans, Coffee)       2
8       0.6         (Onion, Coffee)       2
9       0.8    (Kidney Beans, Eggs)       2
10      0.6           (Onion, Eggs)       2
11      0.6    (Milk, Kidney Beans)       2
12      0.6   (Kidney Beans, Onion)       2
13      0.6  (Kidney Beans, Yogurt)       2

In [41]:
frequent_itemsets[ (frequent_itemsets['length'] == 3) &
                   (frequent_itemsets['support'] >= 0.6) ]

    support                       itemsets  length
14      0.6   (Kidney Beans, Eggs, Coffee)       3
15      0.6          (Onion, Eggs, Coffee)       3
16      0.6  (Kidney Beans, Coffee, Onion)       3
17      0.6    (Kidney Beans, Onion, Eggs)       3

In [37]:
frequent_itemsets[ (frequent_itemsets['length'] == 4) &
                   (frequent_itemsets['support'] >= 0.6) ]

    support                             itemsets  length
18      0.6  (Kidney Beans, Eggs, Coffee, Onion)       4

In [42]:
frequent_itemsets[ (frequent_itemsets['length'] == 5) &
                   (frequent_itemsets['support'] >= 0.6) ]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []

In [39]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Kidney Beans','Onion', 'Eggs','Coffee'} ]

    support                             itemsets  length
18      0.6  (Kidney Beans, Eggs, Coffee, Onion)       4